*,
*::before {
  box-sizing: border-box;
}
body {
  max-width: 412px;
  max-height: 915px;
  margin: 0 auto;
  background: transparent;
}
textarea {
  overflow: visible;
}
.display_none {
  display: none;
}
.container {
  width: 100%;
  height: 100vh;
  background: #c4f54e;
  margin: 0 auto;
  position: relative;
}
.hidden {
  display: none;
}
/* Start add to do list */
.title_todo {
  font-family: "Ubuntu";
  font-size: 24px;
  color: white;
}
.header_list {
  width: 90%;
  height: 10vh;
  display: flex;
  align-items: center;
}
.todo {
  width: 90%;
  height: 85%;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.add_button {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
}
.add_button img {
  width: 36px;
  height: 36px;
}
.add_to_do_form {
  width: 90%;
  margin: 0 auto;
}
.form_input_add {
  width: 100%;
  font-size: 18px;
  color: white;
  margin: 0 auto;
  background: transparent;
  border: none;
  border-bottom: 1px silver solid;
}
.form_input_add:focus,
.fo m_input_add:active,
.form_input_add:hover {
  font-size: 18px;
  color: white;
  border: none;
  box-shadow: none;
  outline: 0;
  border-bottom: 1px black solid;
}
.add_to_do_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5vh;
  width: 100%;
  height: 90vh;
  background-color: #1b434d;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 14px 28px rgba(1, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 1;
}
.img_plus {
  margin-left: 2vw;
  margin-right: 3vw;
  width: 32px;
  height: 32px;
}
.to_do_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85vh;
  background-color: #2c5c3b;
  border-radius: 20px 20px 20px 20px;
  z-index: 2;
}
.z_index {
  z-index: 0;
}

/*  */
.note {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px white solid;
}
.note_header {
  display: flex;
  justify-content: space-between;
}
.note_edit,
.note_delete {
  background-color: transparent;
  border: none;
  height: 24px;
}
.note_edit img,
.note_delete img {
  width: 24px;
  height: 24px;
}
#note_text {
  margin-bottom: 10px;
}
#note_text_input,
#note_title_input {
  background: #244852;
  color: white;
  border: none;
  font-family: "Ubuntu";
  font-size: 16px;
  min-height: 18px;
}
@font-face {
  font-family: Ubuntu;
  src: url(../font/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}
